<form action="/upload-image" method="POST" class="cat-form" enctype="multipart/form-data">
	<h2>Add Image</h2>
	<label for=" name">Name</label>
	<input name="name" type="text" id="name">
	<label for="image">Image</label>
	<input type="file" id="image" name="image">
	<button type="submit">Add Image</button>
</form>